<div id="show">
  <h1><%= @comment.title %></h1>

  <p>
    <%= @comment.body %>
  </p>

  <div>
    <%= link_to 'Edit', edit_comment_path(@comment) %> |
    <%= link_to 'Back',  root_path %>
  </div>

  <hr>

  <% if @comment.comments.size != 0 %>
    <% @comment.comments.each do |comment| %>
      <div class="comment">
        <%= comment.body %>
      </div>
    <% end %>
    <hr>
  <% end %>


  <h3>コメントする</h3>
  <%= render 'child_form' %>
</div>







