<p>
  <strong>Title:</strong>
  <%= @comment.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>

<hr>

<% if @comment.comments.size != 0 %>
  <% @comment.comments.each do |comment| %>
    <div>
      <%= comment.body %>
    </div>
  <% end %>
  <hr>
<% end %>


<h2>コメントする</h2>
<%= render 'child_form' %>






